body{
    margin: 0;
    background-image: url(images/fondo.jpg); 
}

.box{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-direction:column;
} 

.ohana{
    display: flex;
    flex-direction:row;  
} 

.reverse{
    flex-direction: row-reverse;
} 

.TeCositos{
    max-width: 300px;
    min-width: 100px;
    padding: 0px 10px 0px 20px;
    margin: 30px 10px 10px 5px;
    border: 3px solid #444;
    margin-top: 9%;
}

.Clau{
    margin-right: 60%;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 20px;   
}

.Michel{
    margin-left: 60%;
    text-align: end;
    background-color:cornflowerblue;
    border-radius: 20px 0px 20px 20px;   
}

.perfil{
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: max-content;
    object-fit: cover;
    border-radius: 100%;
    
}
.clau{
    margin: 10px 0px 20px 10px;
}
.michel{
    margin: 10px 10px 20px 0px;
}

h1{
    color:aliceblue;
    text-align: center;
}

p{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
